<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Flight Search</title>
<link href="@{/css/flightSearch.css}" rel="stylesheet" />
</head>
<body>
	<div>
		<div id="nameUser">
			<form th:action="@{/logout}" method="post">
				<p>
				<h1>
					Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
					<h1>
						</p>
						<input type="submit" value="Sign Out" />
			</form>
		</div>
		<br>
		<br>
		<div id="flight">
			<fieldset>
				<legend>Flight Search Form</legend>
				<form th:action="@{/flightSearch}" method="post">
					<label>Departure Location <input name="depLoc" required></label>
					<br> <br> <label>Arrival Location <input
						name="arrLoc" required></label> <br> <br> <label>Flight
						Date <input name="flightDate" type="date" required> <br>
						<br> <label>Flight Class <input name="flightClass"
							required></label> <br> <br> Output Preference :<br>
						<br> <label><input name="outputPreference"
							type="radio" value="1" required style="margin: 0px; float: none;">
							By Price </label> <label><input name="outputPreference"
							type="radio" value="2" required style="margin: 0px; float: none;">
							By Duration </label> <br> <br> <input type="submit"
						value="Search"><br>
				</form>
			</fieldset>
		</div>
	</div>
</body>
</html>