<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Matching Flights</title>
<link href=th:href= "@{/css/flightList.css}" rel="stylesheet" />
</head>
<body>

	<table>
		<tr>
			<th>flight No.</th>
			<th>Valid till</th>
			<th>Departure Time</th>
			<th>Duration</th>
			<th>fare</th>
		</tr>

		<tr th:each="listValue : ${list}">
			<td th:text="${listValue.flight_no}"></td>
			<td th:text="${listValue.valid_till}"></td>
			<td th:text="${listValue.flight_time}"></td>
			<td th:text=" ${listValue.flight_dur}"></td>
			<td th:text=" ${listValue.fare}"></td>
		</tr>


	</table>

</body>
</html>